.form-container{
    margin: auto;
    width:10vw;
    display: flex;
    padding:0px 5px;
    border: none;
    border-radius: 5px;
    flex-direction: column;

    .header{
        span{
            color:blue;
            
        }
    }
    
}